<div class="container-fluid no-padding">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 login">
			<form action="" method="POST" class="form-horizontal center login-form" role="form">
				<div class="form-group">
					<legend>Quên mật khẩu</legend>
				</div>
				<input type="text" name="email" id="input" class="form-control" value="" required="required" pattern="" title="Email/Username" placeholder="Email/Tên Đăng Nhập"> <br>
				<div class="form-group">
					<div class="col-sm-12">
						<button type="submit" class="btn btn-success">Gửi Mật Khẩu</button>
						<button type="button" class="btn btn-primary">Trở Lại</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>