<div class="container-fluid no-padding">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 login">
			<form action="" method="POST" class="form-horizontal login-form center" role="form">
				<div class="form-group">
					<legend>Đăng Nhập</legend>
				</div>
				<input type="text" name="email" id="input" class="form-control" value="" required="required" pattern="" title="Email/Username" placeholder="Email/Tên Đăng Nhập"> <br>
				<input type="text" name="password" id="input" class="form-control" value="" required="required" pattern="" title="Password" placeholder="Mật Khẩu"> <br>
				<div class="form-group">
					<div class="col-sm-12">
						<button type="submit" class="btn btn-success">Đăng Nhập</button>
						<button type="button" class="btn btn-primary">Trở Lại</button>
					</div>
					<br>
					<br>
					<br>
					<a href="#/register" title="">Chưa có tài khoản?</a> or <a href="#/forget" title="">Bạn quên mật khẩu?</a>

				</div>
			</form>
		</div>
	</div>
	
</div>
