<form action="" method="POST" class="form-horizontal center" role="form">
		<div class="form-group">
			<legend>Đăng Ký</legend>
		</div>
		<input type="text" name="email" id="input" class="form-control" value="" required="required" pattern="" title="Email/Username" placeholder="Email/Tên Đăng Nhập"> <br>
		<input type="text" name="password" id="input" class="form-control" value="" required="required" pattern="" title="Password" placeholder="Mật Khẩu"> <br>
		<input type="text" name="re-password" id="inputRe-Password" class="form-control" value="" required="required" pattern="" title="Re-enter your Password" placeholder="Nhập Lại Mật Khẩu"> <br>
		<div class="form-group">
			<div class="col-sm-10 col-sm-offset-2">
				<button type="submit" class="btn btn-success">Đăng Ký</button>
				<button type="button" class="btn btn-primary">Trở Lại</button>
			</div>
		</div>
</form>