<div class="row ">
	<div id="content">
		<div class="row search center panel">
			<form action="" method="POST" class="form-inline" role="form">
				<div class="search-ip">
					<label class="sr-only" for="">label</label>
					<input type="text" class="form-control" id="" placeholder="Bạn cần mua gì?">
				</div>
				<button type="submit" class="btn btn-info">Tìm</button>
					<div class="category">
						<select name="" id="input" class="form-control">
							<option value="">-- Tất cả danh mục --</option>
						</select>
					</div>

					<div class="location">
						<select name="" id="input" class="form-control">
							<option value="">-- Toàn quốc --</option>
						</select>
					</div>
			</form>
		</div>
		<div id="main-content">
			<div class="panel panel-info post-info">
				<div class="panel-heading">
					<h3 class="panel-title">Điện thoại iPhone 4</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-6 col-sm-6 price">
							<b>5 000 000 vnd</b> 
						</div>
						<div class="col-xs-6 col-sm-6">
							<b>Còn mới</b>
						</div>
					</div>
					<div class="row image">
						<img src="img/images/1.jpg" class="img-responsive" alt="Image">
					</div>
					<div class="row">
						<div class="col-xs-5 col-sm-5">
							<b>Người đăng:</b> 
						</div>
						<div class="col-xs-7 col-sm-7">
							Trang
						</div>
					</div>
					<div class="row">
						<div class="col-xs-5 col-sm-5">
							<b>Thời gian:</b>
						</div>
						<div class="col-xs-7 col-sm-7">
							<i>7 phút trước</i>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-5 col-sm-5">
							<b>Địa chỉ:</b>
						</div>
						<div class="col-xs-7 col-sm-7">
							Trần Hưng Đạo, Q5
						</div>
					</div>
					<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<b>Chi tiết:</b>
					</div>
					</div>
					<div class="row product-info">
						<div class="col-xs-12 col-sm-12">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row panel contact">
			<div class="btn-group btn-group-justified">
				<div class="btn-group">
					<button type="button" class="btn btn-info">Chat</button>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-success">Xem SDT</button>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-warning">Báo cáo</button>
				</div>
			</div>
		</div>
	</div>
</div>