
<div class="container-fluid">
	<div class="row">
		<div id="content">
			<div class="image-category center">
				<h3>Hàng nghìn món đồ được rao bán mỗi ngày...</h3>
				<div class="images">
					<div class="image">
						<a href=""><img src="img/images/1.jpg" alt=""></a>
					</div>
					<div class="image">
						<a href=""><img src="img/images/1.jpg" alt=""></a>
					</div>
					<div class="image">
						<a href=""><img src="img/images/1.jpg" alt=""></a>
					</div>
					<div class="image">
						<a href=""><img src="img/images/1.jpg" alt=""></a>
					</div>
					<div class="image">
						<a href=""><img src="img/images/1.jpg" alt=""></a>
					</div>
					<div class="image">
						<a href=""><img src="img/images/1.jpg" alt=""></a>
					</div>
					<div class="image">
						<a href=""><img src="img/images/1.jpg" alt=""></a>
					</div>
					<div class="image">
						<a href=""><img src="img/images/1.jpg" alt=""></a>
					</div>
				</div>
			</div>
			<div class="row slogan center">
				<div class="col">
					<h1>Hãy chọn vị trí để tìm món hàng gần bạn nhất!</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 center">
					<form action="" method="POST" class="form-horizontal" role="form">
						<div class="form-group">
							<div class="col-sm-12">
								<select name="" id="input" class="form-control">
									<option value="">-- TP. Hồ Chí Minh --</option>
								</select>
								<br>
								<button type="submit" class="btn btn-info">Vào mua ngay</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>